/***********************/
/* The colors used in */
/* the website */
/***********************/
.header {
  overflow: hidden;
  margin-top: 20px;
  border-bottom: 2px solid #e0e0e0;
  position: relative;
}

.header .logo {
  width: 30%;
  float: right;
}

@media (max-width: 767px) {
  .header .logo {
    width: 50%;
    margin-right: 5%;
    margin-left: 0;
    float: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header .logo {
    float: none;
    text-align: center;
    margin: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header .logo {
    float: none;
    text-align: center;
    margin: auto;
  }
}

.header .logo h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 767px) {
  .header .logo h1 {
    text-align: right;
    font-size: 1.8em !important;
  }
}

.header .logo p {
  color: #5f5f5f;
  text-align: center;
}

@media (max-width: 767px) {
  .header .logo p {
    text-align: right;
  }
}

.header .strikes {
  display: none;
  width: 40px;
  background-color: #e2494c;
  padding: 9px;
  margin: 20px;
  position: absolute;
  top: 10px;
  left: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -o-box-shadow: 0px 0px 10px #777;
  box-shadow: 0px 0px 10px #777;
}

.header .strikes:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .header .strikes {
    display: block;
  }
}

.header .strikes span {
  display: block;
  height: 3px;
  widht: 75%;
  background-color: white;
}

.header .strikes span:hover {
  cursor: pointer;
}

.header .strikes span:not(:last-of-type) {
  margin-bottom: 5px;
}

.header .navbar {
  width: 70%;
  float: right;
  text-align: center;
  display: block;
}

@media (max-width: 767px) {
  .header .navbar {
    float: none;
    margin: auto;
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header .navbar {
    float: none;
    margin: auto;
    width: 90% !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header .navbar {
    float: none;
    margin: auto;
    width: 80%;
  }
}

.header .navbar ul {
  list-style-type: none;
  padding: 0;
  background-color: #e2494c;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 32px;
}

.header .navbar ul li {
  float: right;
  display: block;
  padding: 20px 10px;
  width: 20%;
  text-align: center;
}

@media (max-width: 767px) {
  .header .navbar ul li {
    float: none !important;
    width: 100%;
  }
}

.header .navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

@media (max-width: 767px) {
  .header .navbar ul li a {
    display: block;
    text-align: center;
  }
}

.header .navbar ul li a:hover {
  color: #CCC;
}

.slider .container q {
  font-size: 19px;
  font-family: sans-serif;
  font-style: italic;
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #696969;
  line-height: 24px;
  text-align: center;
}

.slider .container img {
  width: 80%;
  display: block;
  margin: auto;
}

.slider .container .bullets {
  list-style-type: none;
  display: block;
  width: 208px;
  margin: 20px auto;
}

.slider .container li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border: 2px solid #CCC;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.slider .container li.active, .slider .container li:hover {
  cursor: pointer;
  border: 2px solid black;
  background-color: #DDD;
  -webkit-box-shadow: 2px 2px 10px #aaa;
  -moz-box-shadow: 2px 2px 10px #aaa;
  box-shadow: 2px 2px 10px #aaa;
}

.services .container {
  overflow: hidden;
}

.services .container .subHeader {
  position: relative;
}

.services .container .subHeader h2 {
  text-transform: uppercase;
  width: 222px;
  margin: 30px auto;
  margin-top: 50px;
  text-align: center;
  padding: 10px 20px;
  background-color: #e2494c;
  color: white;
  font-size: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.services .container .subHeader h2::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #e0e0e0;
  z-index: -1;
}

.services .container .service-box {
  width: 33.33333%;
  float: right;
}

.services .container .service-box:not(:last-of-type) {
  padding-right: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .services .container .service-box:last-of-type {
    width: fit-content;
  }
}

@media (max-width: 767px) {
  .services .container .service-box {
    float: none;
    width: 70%;
    margin: auto;
    text-align: center;
  }
  .services .container .service-box:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .services .container .service-box {
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .services .container .service-box:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

.services .container .service-box h2 {
  color: #353535;
  text-align: center;
}

.services .container .service-box h2 i {
  font-size: 55px;
  display: block;
  margin-bottom: 10px;
}

.services .container .service-box p {
  color: gray;
  font-family: "segoe ui";
  line-height: 22.4px;
}

@media (max-width: 767px) {
  .services .container .service-box p {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .services .container .service-box p {
    width: 80%;
    margin: auto;
  }
}

.services .container .service-box a {
  color: #e2494c;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-top: 10px;
}

.staff .container {
  overflow: hidden;
}

.staff .container .subHeader {
  position: relative;
}

.staff .container .subHeader h2 {
  text-transform: uppercase;
  width: 222px;
  margin: 30px auto;
  margin-top: 50px;
  text-align: center;
  padding: 10px 20px;
  background-color: #e2494c;
  color: white;
  font-size: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.staff .container .subHeader h2::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #e0e0e0;
  z-index: -1;
}

.staff .container .staff-box {
  width: 20%;
  float: right;
  padding-right: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .staff .container .staff-box:last-of-type {
    width: fit-content;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .staff .container .staff-box:nth-last-of-type(2) {
    margin-left: 18%;
  }
}

@media (max-width: 767px) {
  .staff .container .staff-box {
    float: none;
    width: 70%;
    margin: auto;
    text-align: center;
  }
  .staff .container .staff-box:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .staff .container .staff-box {
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .staff .container .staff-box:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .staff .container .staff-box {
    width: 33.33333%;
    margin: auto;
    text-align: center;
  }
  .staff .container .staff-box:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

.staff .container .staff-box h2 {
  color: #353535;
}

.staff .container .staff-box h2 .name {
  text-align: center;
  display: block;
}

.staff .container .staff-box h2 span:not(:first-of-type) {
  color: gray;
  display: block;
  text-align: center;
}

.staff .container .staff-box p {
  color: gray;
  font-family: "segoe ui";
  line-height: 22.4px;
}

.staff .container .staff-box a {
  color: #e2494c;
  text-decoration: none;
  display: block;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #e2494c;
  min-height: 100px;
  margin-top: 50px;
  position: relative;
}

.footer p {
  line-height: 100px;
  margin-bottom: 0;
  margin-top: 0;
  color: white;
  display: inline-block;
}

.footer p:first-of-type {
  float: right;
}

@media (max-width: 767px) {
  .footer p:first-of-type {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    float: none;
    line-height: 0;
    position: absolute;
    top: 38%;
    transform: translateY(50%);
  }
}

.footer p:last-of-type {
  float: left;
}

@media (max-width: 767px) {
  .footer p:last-of-type {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    float: none;
    line-height: 0;
    position: absolute;
    top: 68%;
    transform: translateY(50%);
  }
}
